{% extends "_main.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card mt-3" style="max-width: 45rem;">
          <div class="card-header">Change Password</div>
          <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-success" type="submit">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
